# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Local Build Dependency (for net.minecraft.server packages in craftbukkit jar)
libs/

.classpath
.project
.settings/

bin/

.vscode/